#svglinegraph {
    top: 60%;
    left:50%;
    width:30%;
    height:80%;
    position:relative;
    -webkit-transform:translate3d(-50%,-50%,0);   
}
.line {
  stroke-dashoffset:0;
  box-shadow: 10px 10px 1px black;
}
.breakpoint{
  transform:scale(0);
  position:absolute;
  -webkit-transform-origin:50% 50%;
}
.active{
  transform:scale(1)
}